<!-- Copyright (c) 2008-2009  Philippe Bourgau -->

<!-- This program is free software: you can redistribute it and/or modify -->
<!-- it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version. -->

<!-- This program is distributed in the hope that it will be useful, but -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!-- GNU Affero General Public License for more details. -->

<!-- You should have received a copy of the GNU Affero General Public License -->
<!-- program.  If not, see <http://www.gnu.org/licenses/> -->

<% # ========================================================================
   # FilooFiloo.LoginController Unit Test
   # ========================================================================
%>
<% content_for('final') do %>

<script>

Test.context("FilooFiloo.LoginController",{
	
  setup: function() {
    this.loginController = FilooFiloo.createLoginController();
  },
	

  "forceLoginAndDo should set up the login panel": function() {
    var closeLoginPaneCalled = NO;
    this.loginController.forceLoginAndDo('Test login', 'login, tester:', function() { closeLoginPaneCalled = YES; });

    'Test login'.shouldEqual(this.loginController.get('loginTitle'));
    'login, tester:'.shouldEqual(this.loginController.get('loginCaption'));
    YES.shouldEqual(this.loginController.get('loginTextRequired'));
    YES.shouldEqual(this.loginController.get('loginPaneVisible'));
    NO.shouldEqual(closeLoginPaneCalled);

    this.loginController.set('name', 'johnny be good');
    this.loginController.closeLoginPane();
    NO.shouldEqual(this.loginController.get('loginPaneVisible'));
    YES.shouldEqual(closeLoginPaneCalled);
  },

  "The login pane should not be closed if no name was entered": function() {
    var closeLoginPaneCalled = NO;
    this.loginController.forceLoginAndDo('Test login', 'login, tester:', function() { closeLoginPaneCalled = YES; });
    this.loginController.closeLoginPane();
    YES.shouldEqual(this.loginController.get('loginPaneVisible'));
    NO.shouldEqual(closeLoginPaneCalled);
  },

  "If already entered, the login pane should not ask for a name": function() {
    this.loginController.set('name', 'already');
    this.loginController.forceLoginAndDo('Test login', 'login, tester:', function() {});

    NO.shouldEqual(this.loginController.get('loginTextRequired'));
    YES.shouldEqual(this.loginController.get('loginPaneVisible'));
  }

}) ;

// Cancel main() so app does not start
if (window.main && (appMain = main)) main = null ;

</script>

<% end %>
