/* Main stylesheet for puyo puyo game. */

/* general styles */
h1 {
    text-align: center
}

/* styles for dialogs */
.dialog {
    text-align: center
}

.dialog input {
    width: 100%
}

.dialog .button {
    margin: 10px 0 0
}

/* styles for game board. */
table.board {
    border-spacing: 1px;
    margin: 10px;
}

table.board td {
    width: 30px;
    height: 30px;
    background-color: #DDDDDD;
    background-repeat: no-repeat
}

table.board td.red { background-image: static_url('images/sprites_red.png')}
table.board td.blue { background-image: static_url('images/sprites_blue.png')}
table.board td.green { background-image: static_url('images/sprites_green.png')}
table.board td.purple { background-image: static_url('images/sprites_purple.png')}
table.board td.yellow { background-image: static_url('images/sprites_yellow.png')}

/* styles for the single player game */
.single {
    width: 205px; /* width of the board ... kind of ugly !!! */
    margin: 0 auto;
}

table.scores {
    border-collapse: collapse;
    width: 185px;
    margin: 10px auto 0;
}
table.scores tr, table.scores tr td {
    color: #555555;
    border: 1px solid #DDDDDD;
    margin: 0 auto;
}

#startStop {
    width: 185px;
    margin: 0 auto;
}

/* styles for high scores */
.high_scores_tab .high_scores_scroll_view {
 position: absolute ;
 left: 12px;
 top: 40px;
 bottom: 12px;
 width: 205px;
}


/* @end */

