<% content_for('body') do %>

<p/>
<div align="center">
  <h1>Philou's Puyo-Puyo</h1>
  <%= view :boardView,
      :tag => :table,
      :view => 'PuyoPuyo.BoardView',
      :bind => { :board => 'PuyoPuyo.playerController.board',
                 :boardTime => 'PuyoPuyo.playerController.board.time' } %>
  <%= button_view :label => 'Start', :action => 'PuyoPuyo.playerController.start' %>
  <%= button_view :label => 'Abort', :action => 'PuyoPuyo.playerController.abort' %>
  <p/>
</div>
<% end %>
