<% view :high_scores_tab do %>

<div class="high_scores">
  <%= view :highScoresView,
      :tag => :table,
      :class => 'highScoresTable',
      :view => 'PuyoPuyo.HighScoresView',
      :bind => {
            :content => 'PuyoPuyo.highScoresController.arrangedObjects'
      } %>

</div>
<% end %>