/* Main stylesheet for puyo puyo game. */

/* general styles */
.main-view {
    overflow: auto;
}

/* styles for game board. */
table.board-view-table {
    border-spacing: 1px;
    margin: 1px auto;
}

table.board-view-table td {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
}

table.board-view-table td.red { background-image: static_url('images/sprites_red.png')}
table.board-view-table td.blue { background-image: static_url('images/sprites_blue.png')}
table.board-view-table td.green { background-image: static_url('images/sprites_green.png')}
table.board-view-table td.purple { background-image: static_url('images/sprites_purple.png')}
table.board-view-table td.yellow { background-image: static_url('images/sprites_yellow.png')}

/* styles for the single player game */
.scores {
    color: #444444;
}

/* styles for high scores */
.high_scores {
    width: 100%;
    margin: auto;
}

table.high_scores_table {
    border-collapse: collapse;
    margin: auto;
}

table.high_scores_table th, table.high_scores_table td {
    border: 1px solid #c9c9c9;
    padding: 1px 4px;
}

table.high_scores_table th {
    background-color: #DDDDDD;
}

/*information tabs */
.information table {
    margin: auto;
}

/* @end */

