/* Main stylesheet for puyo puyo game. */

/* general styles */
.main-view {
    overflow: auto;
}
/* this rule is overriden by sproutcore defaults ... I don't know what to do about it */
.filoo-filoo-title {
    font-size: 24px;
}
.filoo-filoo-container-view {
    background-color: #E7E4EF;
    color: #000000;
}


/* styles for game board. */
.board-view .cell-view {
    padding: 0;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
}

.board-view .red { background-image: static_url('images/sprites_red.png')}
.board-view .blue { background-image: static_url('images/sprites_blue.png')}
.board-view .green { background-image: static_url('images/sprites_green.png')}
.board-view .purple { background-image: static_url('images/sprites_purple.png')}
.board-view .yellow { background-image: static_url('images/sprites_yellow.png')}
.board-view .junk { background-image: static_url('images/sprites_grey.png')}

/* styles for the single player game */
.scores {
    color: #444444;
}

/* styles for high scores */
.high_scores {
    width: 100%;
    margin: auto;
}

table.high_scores_table {
    border-collapse: collapse;
    margin: auto;
}

table.high_scores_table th, table.high_scores_table td {
    border: 1px solid #c9c9c9;
    padding: 1px 4px;
}

table.high_scores_table th {
    background-color: #DDDDDD;
}

/*information tabs */
.information table {
    margin: auto;
}

/* @end */

