/* Main stylesheet for puyo puyo game. */

/* general styles */
h1 {
    text-align: left;
}

/* styles for dialogs */
.dialog {
    text-align: center;
}

.dialog input {
    width: 100%;
}

.dialog .button {
    margin: 10px 0 0;
}

/* styles for game board. */
table.board {
    border-spacing: 1px;
    margin: 10px;
}

table.board td {
    width: 30px;
    height: 30px;
    background-color: #DDDDDD;
    background-repeat: no-repeat;
}

table.board td.red { background-image: static_url('images/sprites_red.png')}
table.board td.blue { background-image: static_url('images/sprites_blue.png')}
table.board td.green { background-image: static_url('images/sprites_green.png')}
table.board td.purple { background-image: static_url('images/sprites_purple.png')}
table.board td.yellow { background-image: static_url('images/sprites_yellow.png')}

/* styles for the single player game */
.single {
    width: 205px; /* width of the board ... kind of ugly !!! */
    margin: 0 auto;
}

table.scores {
    border-collapse: collapse;
    width: 185px;
    margin: 10px auto 0;
}
table.scores tr, table.scores tr td {
    color: #555555;
    border: 1px solid #C9C9C9;
    margin: 0 auto;
    padding: 1px 4px;
}

#startStop {
    width: 185px;
    margin: 0 auto;
}

/* styles for high scores */

.high_scores {
    width: 100%;
    margin: auto;
}

table.high_scores_table {
    border-collapse: collapse;
    margin: auto;
}

table.high_scores_table th, table.high_scores_table td {
    border: 1px solid #c9c9c9;
    padding: 1px 4px;
}

table.high_scores_table th {
    background-color: #DDDDDD;
}

/*information tabs */
.information {
    overflow: auto;
}

.information table {
    margin: auto;
}

/* @end */

